@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("SourceSansPro-Bold.ttf") format("truetype");
}
